nav{
	float: right;
	display: inline-block;
}
nav a{
    margin-left: 20px;
	margin-right: 20px;
}

.lang{
	font-size: 14px;
    margin-left: 20px;
    margin-right: 10px; 
    color: red;
}

a, a:active, a:hover{
	text-decoration: none;
}
.header{
	padding-top: 200px;
}
.header-text{
	font-size: 30px;
	text-align: center;
}
img{
	height: 500px;
	padding-top: 20px;
}
.first_example, .second_example{
	padding-top: 50px;
	text-align: center;
}
span{
	font-size: 20px;
}